.PostFull__body a[rel="noopener"]:after, .PostFull__body a[rel="nofollow noopener"]:after,
.Post a[rel="noopener"]:after, .Post a[rel="nofollow noopener"]:after {
  background-image: url('data:image/svg+xml; utf8, <svg height="1024" width="768" xmlns="http://www.w3.org/2000/svg"><path d="M640 768H128V257.90599999999995L256 256V128H0v768h768V576H640V768zM384 128l128 128L320 448l128 128 192-192 128 128V128H384z" fill="#d13fff"/></svg>') !important;
}

.PostFull__body a[rel="noopener"].steemed-phish-unshortening:after, .PostFull__body a[rel="nofollow noopener"].steemed-phish-unshortening:after,
a[rel="noopener"].steemed-phish-unshortening:after, a[rel="nofollow noopener"].steemed-phish-unshortening:after {
    animation: spinner .8s ease infinite;
}

#external-link-tooltip {
    display: none;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 200px;
    height: 85px;
    background-color: #fbeeff;
    border: solid 1px #f6d8ff;
    border-radius: 3px;
    color: black;
    font-size: 12px;
    line-height: 15px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#steemedphishwarning {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color : darkred;
    color: white;
    top: 0;
    left: 0;
    z-index: 9999;
}

#steemedphishwarning h1,
#steemedphishwarning h2 {
    color: white !important;
    text-align: center !important;
}

#steemedphishwarning p,
#steemedphishwarning div,
#steemedphishwarning h2 {
    color: #dddddd;
    text-align: center !important;
}

#steemedphishwarning p {
    margin: 14px;
    text-align: center !important;
}